<p>input-save works!</p>
<p>this is testing how to preserve "angular textarea line break"</p>

<!-- <input type="text" [(ngModel)]="inputModel" /> -->

<!-- <textarea [(ngModel)]="inputModel"></textarea> -->
<!-- <textarea [ngModel]="inputModel | lineBreak" (ngModelChange)="inputModel = $event"></textarea> -->

<textarea [innerText]="inputModel" (change)="textOnChange($event)"></textarea>
<br />
<button (click)="displayUpdatedText()">Display Updated Input</button>
<br />

<textarea [ngModel]="inputModel"></textarea>
<hr />

{{ inputModel | json }}
