<div class="mainContainer">
    <h1>Search in Component</h1>

    <input
        id="search"
        type="text"
        [(ngModel)]="searchStr"
        (keyup)="onSearch($event)"
    />

    <table class="table table-bordered">
        <colgroup>
            <col class="five" />
            <col class="five" />
            <col class="ten" />
          </colgroup>
        <thead>
            <tr>
                <th>TRANSFER_ID</th>
                <th>INSTITUTION_NME_EN</th>
                <th>PARTNER_NOTES</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of filteredItems">
                <td>{{ item.transfer_ID }}</td>
                <td>{{ item.institution_NME_EN }}</td>
                <td>{{ item.partner_NOTES }}</td>
            </tr>
        </tbody>
    </table>

    <!-- {{ filteredItems | json }} -->
</div>