<h1>Home</h1>

<app-input-save></app-input-save>

<p>
  This is in 'div class="mainContainer"''. It is defined in
  <span class="spanFileBackground">styles.scss</span>, but overriden in
  <span class="spanFileBackground">home.component.scss</span>.
</p>

<h2>
  Home Tab: for testing common components in
  <i [innerHtml]="'core' | highlighter : 'core' : 'partial'"></i>
  and
  <i [innerHtml]="'shared' | highlighter : 'shared' : 'full'"></i>
</h2>

<hr />

<div *ngIf="states$ | async as states; else noState">
  <p>There are {{ states.length }} item(s) returning by StateService!</p>
  <p>asset/mockdata/ is existing!</p>
</div>

<ng-template #noState>
  <p>There is no item returning by StateService!</p>
  <p>asset/mockdata/ maybe not existing!</p>
</ng-template>

<hr />

<h3>Testing Around</h3>
<p><a routerLink="/home/test-around">/home/ngx-test: Ngx Test</a></p>
<hr />
